/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf');
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
  font-family: Raleway-Regular;
  src: url('../fonts/raleway/Raleway-Regular.ttf');
}

@font-face {
  font-family: Raleway-Black;
  src: url('../fonts/raleway/Raleway-Black.ttf');
}

@font-face {
  font-family: Raleway-SemiBold;
  src: url('../fonts/raleway/Raleway-SemiBold.ttf');
}

@font-face {
  font-family: Raleway-Bold;
  src: url('../fonts/raleway/Raleway-Bold.ttf');
}

body,
html {
  height: 100%;
  font-family: Poppins-Regular, sans-serif;
  background-color: transparent;
  background: transparent;
  background-image: transparent;
}

::-webkit-scrollbar {
  display: none;
}

.title-ffa {
  position: absolute;
  font-size: 30px;
  color: white;
  line-height: 1.2;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 100;
  top: 15px;
  z-index: 99999;
  right: 320px;
}

.subtitle-ffa {
  position: absolute;
  font-size: 15px;
  color: rgb(187, 187, 187);
  line-height: 1.2;
  text-align: center;
  display: block;
  top: 50px;
  z-index: 99999;
  max-width: 350px;
  right: 630px;
}

.container {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 950px;
  height: 650px;
  top: 50%;
  left: 50%;
  background: rgba(17, 12, 16, 0.925);
  border-radius: 25px;
}

.ffatext {
  position: absolute;
  font-family: 'GilRoyBold', arial;
  transform: translate(-50%, -50%);
  top: 3%;
  left: 31%;
  font-size: 36px;
  color: white;
  width: 57%;
}

.rectengle1 {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 149px;
  height: 3px;
  top: 9.5%;
  left: 10.3%;
  background-image: linear-gradient(90deg, #3F16B5 0%, #168DB5 100%);
  ;
  border-radius: 20px;
}

.infotext {
  position: absolute;
  font-family: 'GilRoySemiBold', arial;
  transform: translate(-50%, -50%);
  top: 15%;
  left: 20%;
  font-size: 80%;
  color: white;
  opacity: 50%;
  width: 35%;
}

.würfelpark {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 37%;
  left: 49%;
}

.kirche {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 212px;
  height: 145px;
  top: 36.6%;
  left: 73%;
}

.lcn {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 37%;
  left: 72.7%;
}

.orga {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 61%;
  left: 25.3%;
}

.triaden {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 37%;
  left: 25.3%;
}

.skaterpark {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 220px;
  height: 150px;
  top: 61%;
  left: 72.7%;
}

.oderline1 {
  position: absolute;
  background-image: linear-gradient(180deg, #0044ff 0%, #168DB5 100%);
  ;
  transform: translate(-50%, -50%);
  top: 79%;
  left: 32%;
  border-radius: 10px;
  width: 25%;
  height: 0.4%;
}

.oderline2 {
  position: absolute;
  background-image: linear-gradient(180deg, #0066FF 0%, #168DB5 100%);
  ;
  transform: translate(-50%, -50%);
  top: 79%;
  left: 66%;
  border-radius: 10px;
  width: 25%;
  height: 0.4%;
}

.oder {
  position: absolute;
  font-family: 'GilRoySemiBold', arial;
  transform: translate(-50%, -50%);
  top: 82%;
  left: 79%;
  width: 66%;
  height: 14%;
  font-size: 130%;
  color: white;
}

.infotext2 {
  position: absolute;
  font-family: 'GilRoySemiBold', arial;
  transform: translate(-50%, -50%);
  top: 83%;
  left: 41%;
  font-size: 12px;
  color: white;
  opacity: 25%;
  width: 219px;
}

.privatffa {
  position: absolute;
  font-family: 'GilRoyExtraBold', arial;
  background-image: linear-gradient(180deg, #0066FF 0%, #168DB5 100%);
  transform: translate(-50%, -50%);
  top: 92%;
  left: 50%;
  border: none;
  border-radius: 10px;
  width: 400px;
  height: 55px;
  color: white;
  font-size: 24px;
}

.erstellen1 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 45%;
  left: 49%;
  width: 213px;
  height: 32px;
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.erstellen1:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen2:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen3:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen4:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen5:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen6:hover {
  background: rgba(27, 19, 26, 0.925);
}

.erstellen2 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 45%;
  left: 25.3%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.erstellen3 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 45.4%;
  left: 73%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.erstellen4 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 68.8%;
  left: 25.3%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.erstellen5 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 68.8%;
  left: 49%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.erstellen6 {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 68.8%;
  left: 72.7%;
  width: 213px;
  height: 32px;
      
  background: rgba(17, 12, 16, 0.925);
  
  border: none;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.closebutton {
  transition: 1s;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 6%;
  left: 96%;
  width: 45px;
  height: 45px;
}

.closebutton:hover {
  transition: 1s;
  width: 55px;
  height: 55px;
}

.memberzahlbackground1 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 25.5%;
  left: 37.9%;
  width: 212px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#würfelpark {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 29.5%;
  left: 56.5%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

#triaden {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 29.5%;
  left: 34%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

#kirche {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 29.5%;
  left: 82%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 25.5%;
  left: 14.1%;
  width: 212px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#mitgliederzahl2 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 29.5%;
  left: 33.5%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground3 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 25.4%;
  left: 61.9%;
  width: 212px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

#mitgliederzahl3 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 29.5%;
  left: 81%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground4 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 49.5%;
  left: 14.1%;
  width: 213px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl4 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 53.5%;
  left: 33.5%;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground5 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 49.5%;
  left: 37.9%;
  width: 213px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl5 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 53.5%;
  left: 57.5%;
  ;
  width: 213px;
  height: 32px;
  z-index: 999;
}

.memberzahlbackground6 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyExtraBold', arial;
  color: white;
  font-size: 16px;
  top: 49.5%;
  left: 61.6%;
  width: 213px;
  height: 32px;
  
  border: none;
  background: rgba(115, 115, 115, 0.8);
  transform: matrix(1, 0, 0, -1, 0, 0);
  z-index: 99;
}

#mitgliederzahl6 {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: 'GilRoyBold', arial;
  color: white;
  font-size: 14px;
  top: 53.5%;
  left: 81%;
  width: 213px;
  height: 32px;
  z-index: 999;
}